*{box-sizing: border-box;}

body{margin: 0;}


article{
    float: left;
    width: 25%;
    height: auto;
    padding: 3px;
}

article img{
    width: 100%;
}

article::after{
    content: "";
    display: table;
    clear: both;
}

@media all and (max-width:786px){
    article{
        width: 50%;
    }
}

@media all and (max-width:576px){
    article{
        width: 100%;
    }
}